<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item p-2">
                <a href="/contact" class="btn btn-outline-info">Contact</a>
            </li>
            <li class="nav-item p-2">
                <a class="btn btn-light" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item p-2">
                <a href="/portfolio" class="btn btn-light">Portfolio</a>
            </li>
            <li class="nav-item p-2">
                <a href="/plugins" class="btn btn-light">Plugins</a>
            </li>
        </ul>
    </div>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand btn btn-light" href="#">
        <img class="shadow-sm" src="./img/logo_nel_no_text.svg" width="50" height="50">
    </a>
</nav>

<div style="height: 76px;"></div>